
/* CSS Styles */
:root {
  --primary-color: #011d39;
  --secondary-color: #f1c40f;
}

body {
  background-color: #f9f9f9;
}

.text-center {
  text-align: center;
}

.serviceMainTitle {
  color: var(--primary-color);
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 28px;
}

.bottom {
  background: var(--primary-color);
  height: 5px;
  width: 125px;
  margin: -1.9rem auto 0;
  margin-bottom: 2rem;
}

.serviceCard {
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 6px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
  border-radius: 20px;
  background-color: white;
}

.serviceCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.serviceName {
  color: var(--primary-color);
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 700;
}

.link-button {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .serviceCard {
    height: auto;
    padding: 20px;
  }

  .serviceMainTitle {
    font-size: 24px;
  }

  .bottom {
    width: 100px;
  }
}

/* MUI Components Custom Styles */
.MuiDialog-paper {
  border-radius: 12px;
  padding: 20px;
}

.MuiAutocomplete-root {
  margin-bottom: 20px;
}

.MuiCard-root {
  margin: 10px 0;
  border-radius: 8px;
}

.list-item:hover {
  background-color: #f7f7f7;
}

.container {
  padding: 20px;
}

.search-input {
  margin-bottom: 20px;
}

.modal-search-input {
  margin-bottom: 20px;
}

.card-list {
  list-style-type: none;
  padding: 0;
}

.card-list li {
  margin-bottom: 10px;
}

.card-list li:last-child {
  margin-bottom: 0;
}