/* Menu latéral */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 10px 15px;
  }

  .custom-navbar .nav-link {
    font-size: 14px;
  }
}

.custom-navbar.transparent-navbar {
  background-color: transparent !important;
  border-bottom: none !important;
}

.custom-navbar.solid-navbar {
  background-color: #333;
  border-bottom: 2px solid #656565;
  padding: 10px 20px;
}

.custom-navbar .navbar-brand img {
  max-height: 50px;
  animation: slideInLeft 0.8s ease-out;
}

.custom-navbar .nav-link {
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  transition: color 0.3s ease;
  animation: slideInRight 0.8s ease-out;
}

.custom-navbar .nav-link:hover {
  color: #f1c40f;
}
