.userProfile {
  background: url("../assets/pexels-elina-araja-1743227-3377405.jpg") no-repeat
    center center/cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color); /* Use CSS variable for text color */
  background-color: var(--background-color); /* Use CSS variable for background */
  transition: all var(--transition-speed) ease;
  margin-bottom: 0;
}