.container {
  max-width: 758px;
  padding: 20px;
  margin: 0 auto;
  font-family: "Kumbh Sans", sans-serif;
}

@media (max-width: 640px) {
  .container {
    padding: 10px;
  }
}

.header {
  margin-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  color: #000;
  margin-bottom: 23px;
}

@media (max-width: 640px) {
  .title {
    font-size: 28px;
    text-align: left;
  }
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
}

@media (max-width: 640px) {
  .subtitle {
    font-size: 20px;
  }
}

.content {
  background-color: #fff;
  padding: 68px 80px;
}

@media (max-width: 991px) {
  .content {
    padding: 40px 20px;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 30px 15px;
  }
}

.sectionWrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 51px;
}

@media (max-width: 640px) {
  .sectionWrapper {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
  }
}

.iconContainer {
  width: 36px;
  height: 36px;
  background-color: #eff3fa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #000;
}

.sectionContent {
  flex: 1;
}

@media (max-width: 640px) {
  .sectionContent {
    width: 100%;
  }
}

.sectionTitle {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .sectionTitle {
    font-size: 20px;
  }
}

.sectionDescription {
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

.lineBreak {
  content: "";
  display: block;
  margin: 4px 0;
}
